# Git rules local file
.gitrules

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python caches and outputs
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Node dependencies
node_modules/

# Local ML data and models weight cache
ml-services/data/
ml-services/models/

# Prevent gigabytes of binary sound layers from being committed
data/
*.wav
*.mp3

# Operating system files
.DS_Store
Thumbs.db
